html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.active-link{
    font-weight: bold;
    background-color: cadetblue;
    
}

a:hover {
    background-color: cadetblue;
    opacity: 0.6;
}
